body{
    margin:0;
    font-family: 'Red Hat Text', sans-serif;
    font-family: 'Satisfy', cursive;
}

h1{
    background-color: rgb(71, 117, 115);
    color: white;
    text-align: center;
    padding:10px 0 10px 0;
    margin: 0;
}

.add-form{
    margin: auto;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
    width: auto;
    border: 3px outset rgb(110, 119, 119);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

#txt-task{
    width: 400px;
    border-radius: 10px;
    padding: 5px 10px;
    border: 2px inset rgb(128, 134, 136);
    font-size: 18px;
}

.btn{
    background-color: white;
    color: rgb(79, 83, 83);
    border-radius: 5px;
    border: 1px solid rgb(110, 119, 119);
    font-size: 16px;
    font-weight: 100;
    cursor: pointer;
    padding: 5px;
    width: auto;
    margin-top: 5px;
}

.btn:hover{
    background-color: rgb(71, 117, 115);
    color: white;
}
ul li{
    width: auto;
    list-style-type: disc;
    background-color: #f1f1f1;
    color: black;
    margin: 20px 10px 0 20px;
    border: .5px double rgb(110, 119, 119);
    border-radius: 8px;
    font-size: 20px;
    padding: 10px;
}

ul li:hover{
    background-color: #f1f1f1;
}

button{
    padding: 5px;
    background: none;
    border: .5px solid black;
    size: 5px;
}